html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  margin: auto;
  color: none;
  height: 46.5%;
  width: 50%;
  text-align: center;
  text-decoration-color: transparent;
  text-decoration: none;
  display: inline-block;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  padding: 0px;
}
