html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

button {
  border: none;
  background-color: transparent;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  margin: auto;
  height: 48vh;
  width: 50vw;
  position: relative;
  text-decoration-color: transparent;
  display: inline-block;
  /* transform: translate(-45%, 0%); */
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  padding: 0px;
}
